/* Buttons */
.btn {
	border-radius: 0.32rem;
	border: 1px solid rgba(0, 0, 0, 0.1);
	box-shadow: 0 0.08rem 0.4rem gray;
	color: var(--color-white);
	cursor: pointer;
	font-size: 125%;
	line-height: 1.5;
	padding: 0.8rem 2.2rem;
	text-shadow: 0 -0.08rem 0.08rem var(--color-secondary);
	text-transform: uppercase;
}

.btn.primary {
	background: var(--color-primary);
}

.btn.ghost {
	background: transparent;
	border: 1px solid var(--color-white);
}

.btn.ghost:hover,
.btn.ghost:active {
	background: var(--color-secondary);
	border: none;
	text-shadow: none;
}

.btn:focus {
	outline: 0; /* Removes the default blue ring */

	/* Now, let's create our own focus style */
	border-radius: 0.3rem;
	box-shadow: 0 0 0 0.2rem var(--color-secondary);
}

/* Social Media Links */
/* Use the SVG Icons in the assets folder */
