
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  color: black;
}
.contact-us1 {
  background-image: url('../images/Rectangle\ 9.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 421px;
}

.contact-us1 h2 {
  text-align: center;
  color: #bae0bd;
  padding-bottom: 20px;
  font-size: 50px;
}

.contact-us1 p {
  line-height: 16px;
  text-align: center;
  color: #bae0bd;
}

.writeup {
  padding: 180px 0px;
}

/* Second half of the contact page */
.contact-us2 {
  display: grid;
  padding: 200px 0;
  color: black;
  height: 100px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 100px;
  column-gap: 20px;
  text-align: center;
}
