@import url('https://fonts.googleapis.com/css2?family=Muli:wght@300&family=Roboto:wght@500;700&display=swap');
.navbarg {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 18px;
    background-color: rgba(128, 61, 0, 0.87);
    padding-bottom: 10px;
}

.main-navg {
    list-style-type: none;
    display: none;
}

.navg-links,
.logo {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
}

.logo:hover,
.navg-links:hover {
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
}

.main-navg li {
    text-align: center;
    margin: 15px auto;
}

.logo {
    display: inline-block;
    font-size: 22px;
    margin-top: 10px;
    margin-left: 20px;
    width: 80px;
    height: 80px;
}

.logo-box {
    display: flex;
}

.logo-text-box {
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex: 0 0 1;
}
.logo-header {
    font-family: Roboto;
    font-style: italic;
    font-weight: bold;
    font-size: 24px;
    color: #5F9C77;
}

.logo-text {
    font-family: Roboto;
    font-style: italic;
    font-weight: 300;
    font-size: 14px;
    color: #BAE0BD;
    margin-top: -5px;
}

.navbar-togglar {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.8);
    font-size: 24px;
}

.active {
    display: block;
}

@media screen and (min-width: 768px) {
    .navbarg {
        display: flex;
        justify-content: space-between;
        padding-bottom: 0;
        height: 102px;
        align-items: center;
    }

    .main-navg {
        display: flex;
        margin-right: 30px;
        flex-direction: row;
        justify-content: flex-end;
    }

    .main-navg li {
        margin: 0;
    }

    .navg-links {
        margin-left: 40px;
    }

    .logo {
        margin-top: 10px;
    }

    .navbar-togglar {
        display: none;
    }

    .logo:hover,
    .navg-links:hover {
        color: rgba(255, 255, 255, 1);
    }
}


.header {
    background: url('../images/Rectangle\ 9.png');
    height: 420px;
}

.about {
    background: url('../images/edvin-johansson-rlwE8f8anOc-unsplash 1.png');
    height: 420px;
}

.heading-primary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.heading-primary--main {
    font-family: Muli;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    color: #BAE0BD;
}

.btn-book-now {
    font-family: Muli;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    background: #803D00;
    border-radius: 7px;
    padding: 25px 55px;
    text-transform: capitalize;
    text-decoration: none;
    transition: all .2s;
    border: none;
    cursor: pointer;
    color: #FFFFFF;
    margin-top: 26px;
}

.btn-book-now:hover {
    transform: translateY(-3px);
}

.btn-book-now::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn-book-now:focus {
    outline: none;
    transform: translateY(-1px);
}

.btn-contact-us {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 23.7468px;
    line-height: 28px;
    padding: 12px 38px;
    float: right;
    color: #FFFFFF;
    background: #5F9C77;
    border-radius: 3px;
    text-decoration: none;
    transition: all .2s;
    border: none;
    cursor: pointer;
}

.btn-contact-us:hover {
    transform: translateY(-3px);
}

.btn-contact-us::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn-contact-us:focus {
    outline: none;
    transform: translateY(-1px);
}


/* MAIN */

.main-section {
    background-color: #E5E5E5;
}

.mission-text {
    font-family: Muli;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    color: #371B00;
}

.mission-header {
    font-family: Muli;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
    text-align: left;
    color: #803D00;
}

.matop {
    padding-top: 130px;
}

.matop-1 {
    padding-top: 80px;
}

.photo-box {
    display: flex;
}

.photo-2 {
    flex: 0 0 100%;
    height: 368px;
    width: 100%;
}

.ideology {
    padding-bottom: 74px;
}

.offer {
    padding-bottom: 74px;
}


/* FOOTER */

.footer {
        background: #803D00;
        padding-top: 3rem;
        padding-bottom: 3rem;
}

@media (max-width: 910px){
    footer{
        text-align: center;
    }

    .contact{
        display: flex;
        justify-content: center;
    }
}
.logo-box {
    display: flex;
    align-items: center;
}

.logo-header-text {
    font-family: Roboto;
    font-style: italic;
    font-weight: bold;
    font-size: 24px;
    color: #5F9C77;
}

.logo-text-box {
    display: flex;
    flex-direction: column;
}

.logo-text {
    font-family: Roboto;
    font-style: italic;
    font-weight: 300;
    font-size: 14px;
    color: #BAE0BD;
}

.middle-text {
    display: flex;
    flex-direction: column;
}

.middle-text-1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: #BAE0BD;
}

.middle-text-2 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: #BAE0BD;
}

.middle-text-3 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: #BAE0BD;
}