/* Testimonials */
.testimonials {
	margin: auto;
	padding: 10rem;
}

.testimonials-header h2 {
	font-weight: 600;
	font-size: 36px;
	line-height: 107.4%;
	text-transform: uppercase;
	color: #0a223d;
	/* margin-bottom: 72px; */
}

.testimonials-header p {
	font-size: 14px;
	line-height: 21px;
	text-transform: capitalize;
	color: rgba(0, 0, 0, 0.5);
	margin-bottom: 90px;
}

.testimonial-body {
	background: #f5fafe;
	border-radius: 8px;
	padding: 40px 35px 35px 35px;
	/* margin: 0.5rem; */
	position: relative;
	/* width: 320px; */
}